

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Patient Name</th>
      <th scope="col">Bed Number</th>
      <th scope="col">The time the warning was received</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= id%></td>
      <td><%= full_name%></td>
      <td><%= bed_number%></td>
      <td><%= time_to_live%></td>
    </tr>
  </tbody>
</table>
