<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/nav')%>
    <div class="main">
      <div
        class="form-div rounded-4 shadow-lg p-lg-5 px-2 py-4 flex flex-column"
      >
        <form action="/patientpage" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User Name</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              required
              name="email"
            />
            <div id="emailHelp" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              required
              name="password"
            />
          </div>
          <!-- <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              required
            />
            <label class="form-check-label" for="exampleCheck1"
              >Check me out</label
            >
          </div> -->
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
